#wode0{
	margin: 0px auto;
	width: 987px;
	height: 700px;
	border: #cccccc solid 1px;
}
#wode1{
	width: 550px;
	float: left;
	overflow: hidden;
}
#wode2{
	float: right;
	overflow: hidden;
	width: 436px;
}

#tu1{
	width: 550px;
}
#tu2{
	width: 436px;
}
#tu3{
	width:160px ;
	padding-left: 20px;
}
