#tuijian{
	background-color:#C20C0C ;
	height: 40px;
}
#i{
	margin: 0px auto;
	width: 570px;
	background-color: black;
}
#p li{
	float: left;
	padding:15px ;
	overflow: hidden;
	color: white;
	margin-top: -8px;
}

h4,.tesebang{
	float: left;
	overflow: hidden;
	margin: 15px;
	
	width: 230px;
}
.fangbo{
	margin-left:42px ;
	margin-top:-42px ;
	
}
#biaoshengbang{
	margin-top: 30px;
}
#biaoshengbang li{
	float: left;
	overflow: hidden;
	margin-right: 20px;
}
#gequliebiao1 li{
	float: left;overflow: hidden;
}
#gequliebiao2{
	float: right;
	font-size: 10px;margin-top: 10px;
}
#gequliebiao2 li{
	float: right;
	overflow: hidden;
}
.td1{
	width: 20px;
	text-align: center;
}
.td2{
	width: 300px;
}
.td3{
	width: 65px;
}
.td4{
	width: 25px;
	font-size: 10px;
	color: green;
}
#ss2018627{
	background-color: #f2f2f2;
	
}
.tr1{
	height: 100px;
	background-color:  #f2f2f2;
}
.tr2{
	
}
.fangbo:hover{
	color: red;
}
